#root {
  width: 100%;
  text-align: center;
  background-color: rgb(41, 170, 114);
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.Chart{
  background-color: white;
  color: white;
  margin: 1vh 1vw 1vh 1vw;
  height: 20vh;
  flex: 1;
}

.Text{
  background-color: black;
}

.ContentBlock{
  display:flex;
  justify-content: center;
}

.Section{
  flex: 1;
  background-color: white;
  border-radius: '8px';
  margin-left: 1vw;
  margin-right: 1vw;
}

.buttonEvent{
  width: 100%;
  padding: 12px;
  font-size: 16px;
  background-color: '#007bff';
  color: "white";
  border: 'none';
  border-Radius: '4px';
  cursor: 'pointer';
  margin-bottom: '20px';
}