#root {
  width: 100%;
  text-align: center;
  background-color: rgb(41, 170, 114);
}
button{
  background-color: rgb(41, 170, 114);
  margin: 0 1vw 0 1vw;
  color: white;
}
p, h2{
  color:rgb(41, 170, 114);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Chart{
  background-color: white;
  align-items: center;
  margin-left: 10%;
  margin-right: 10%;
}

.Text{
  margin: 0 3vw 0 3vw;
}

.ContentBlock{
  display:flex;
  justify-content: center;
}

.Section{
  flex: 1;
  background-color: white;
  border-radius: '8px';
  margin-left: 1vw;
  margin-right: 1vw;
}

.buttonEvent{
  width: 95%;
  font-size: 2em;
  color: "white";
  border: 'none';
  border-Radius: '4px';
  cursor: 'pointer';
  margin: 1vh 1vw 3vh 1vw;
  padding: 1vh 1vw 1vh 1vw;
}
.MoneyDisplay{
  font-size: 2em;
  color:white;
}